
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isSeller(userId) {
      // Check the role of the user trying to write.
      return isSignedIn() && get(/databases/$(database)/documents/users/$(userId)).data.role == 'seller';
    }

    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow create: if isOwner(userId);
      allow read: if isOwner(userId) || isAdmin();
      allow update: if isOwner(userId);
      allow delete: if isOwner(userId);
      allow list: if isAdmin();

      match /orders/{orderId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }

      // Sellers can manage their own products within their own user document.
      match /products/{productId} {
          allow read: if true;
          // Only the owner of the user document who is also a seller can write.
          allow create, update, delete: if isOwner(userId) && isSeller(userId);
      }
    }

    match /orders/{orderId} {
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow get: if isSignedIn() && (resource.data.userId == request.auth.uid || resource.data.sellerId == request.auth.uid || isAdmin());
      allow list: if (isSignedIn() && 
                    (request.query.where.userId == request.auth.uid || 
                     (request.query.where.sellerId != null && request.query.where.sellerId == request.auth.uid))) || isAdmin();
      allow update, delete: if isAdmin();
    }
  }
}
